.light-box {
    position:fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:1000;

    background-color: transparentize($bg-secondary,0.2);
    opacity:0;

    nav {
        padding-top: 20%;

        @include landscape {
            padding-top: 0;
        }

        ul {
            font-size: 2em;
            line-height:3em;
            text-align: center;

            list-style: none;

            .nav-mobile-hover {
                display:none;
            }

            a {
                position:relative;

                color: $text-secondary;

                &:hover, &:active {
                    font-size:0.95em;

                    > .nav-mobile-hover {
                        display:inline-block;
                        position:absolute;
                        left: -1.5em;

                        font-size:0.85em;
                        line-height:inherit;

                        color: $text-secondary;
                    }
                }
            }
        }
    } 
}

@include fade(0.0,1.0,0.75s);
@include fade(1.0,0.0,0.50s);
