$bg-primary: white;
$bg-secondary: black;
$text-primary: black;
$text-secondary: white;
$border-primary: lighten($bg-secondary, 40%);
$footer-height:50px;
$pawprint-top: 30px;
$pawprint-left:30px;
$desktop-nav-width: 500px;
$jumbo-nav-width: 600px; 
