@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
@import '_reset';
@import '_vars';
@import '_utils';
@import '_lightbox';
@import '_partialcommon';
@import '_home';
@import '_contact';
@import '_carousel';
@import '_foster';

//Conventions
//- Mixins are included after other rules
//- CSS rules are ordered alphabetically, with two exceptions:
//    - width and height are grouped together
//    - top, right, bottom, left styled are grouped in that order

* {
    box-sizing: border-box;
}


/*SITE WIDE STYLES
=======================*/

html, body {
    height: 100%;
}

body {
    @include font-lato-norm;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, span {
    color:$text-primary;
}

h1, .header-mobile>.partial-link.site-header {
    font-size:2.5em;
    line-height:1.5em;
    text-align: center;

    @include mini {
        font-size: 2em;
    }

    @include tablet {
        line-height: 2em;
    }

    @include desktop {
        font-size: 3.5em;
    }
}

h2 {
    font-size:3em;
    font-weight:300;
    line-height:1.25em;

    @include mini {
        font-size: 2em;
    }

    @include tablet {
        font-size: 2.3em;
        line-height: 1.75em;
    }

    @include desktop {
        font-size: 3em;
        line-height: 1.75em;
    }
}

h3 {
    font-size:1.75em;
    font-weight:300;
    margin-top:15px;
    margin-bottom:20px;
    padding-left:5px;

    @include mini {
        font-size: 1.5em;
    }

    @include tablet {
        font-size: 1.75em;
    }

    @include desktop {
        font-size: 2em;
    }
}

h4 {
    font-size: 1.3em;
    font-weight:300;
    margin-bottom:10px;
    padding-left: 10px;
}

a {
    color: inherit;
    cursor:pointer;
    text-decoration: none;
}

input, label, textarea, p {
    font-family:'Lato', sans-serif;
    font-size: 1.2em;
    letter-spacing:0.03em;
    line-height:1.5em;
    text-align:justify;

    @include mini {
        font-size:1.1em;
        letter-spacing:0.02em;
    }
}

p {
    margin: 20px 0;
    padding: 0 20px;
}

b {
    font-weight: bold;
}

.site {
    
    /*sticky footer*/
    min-height:100%;
    margin-bottom: -1 * $footer-height;

    &::after {
            content:"";
            clear:both;
            display:block;
            height: $footer-height;
    }
    /*end sticky footer*/
}

.partial-link {
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color:$text-secondary;
    cursor:pointer;
    font:inherit;
    font-size:1.6rem;
    outline:0;
    padding:0;
    text-align:left;
    text-shadow: 0px 4px 4px darken($bg-primary,80%);

    &:focus, &:hover {
       color:$accent;
       outline:0;
       text-shadow: 0px 3px 3px darken($bg-primary,90%);
    }

    &::-moz-focus-inner {
        border:0;
    }

    @include jumbo {
        font-size:2rem;
    }

}

.site-header {
    font-size:3rem;
    line-height:1.5em;
    text-align: left;

    @include jumbo {
        font-size:4rem;
    }
}

/*MOBILE HEADER
====================*/

.header-mobile {
   background-color:$bg-primary;
   background-image:url('components/img/dogs-in-print.png');
   background-image: -moz-linear-gradient(top, transparentize($accent,0.5) 0%, rgba(0,0,0,0)
            60%, rgba(0,0,0,0) 100%), /* FF3.6-15 */
             url('components/img/dogs-in-print.png');

   background-image: -webkit-linear-gradient(top, transparentize($accent,0.5) 0%,rgba(0,0,0,0)
             60%,rgba(0,0,0,0) 100%), /* Chrome10-25,Safari5.1-6 */
             url('components/img/dogs-in-print.png');

   background-image: linear-gradient(to bottom, transparentize($accent,0.5) 0%,rgba(0,0,0,0)
        60%,rgba(0,0,0,0) 100%),
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        url('components/img/dogs-in-print.png');

   background-origin: content-box;
   background-position:center;
   background-repeat:no-repeat;
   background-size:contain;

   //border-bottom: 1px solid $border-primary;
   height:300px;
   margin-bottom:10px;
   //padding:10px;
   position:relative;

   @include mini {
       height:200px;
   }

   &>.partial-link.site-header {
       color:$text-secondary;
       font-size:2.5rem;
       position:absolute;
       text-align:center;
       text-shadow: 0px 4px 4px darken($bg-primary,80%);
       top:25%;
       left:0;
       right:0;
       width:320px;
       @include center;

       @include tablet {
           font-size:5rem;
           width:550px;
           top:0;
       }
   }

   @include desktop {
       display:none;
   }
}

.nav-toggle {
   background-color: transparent;
   border: none; 
   border-radius:4px;
   color: $text-secondary;
   font-weight:300;
   height:2.5em;
   position:absolute;
   top:5px;
   left:5px;

   @include center;

   &:hover {
       border: 1px solid $border-primary;
       border-radius: 4px;

       @include box-shadow(0px 1px 2px darken($bg-primary,60%));
   }

   &:active, &:focus {
       background-color: lighten($accent, 20%);
       border: 1px solid $border-primary;
       border-radius: 4px;
       outline:none;

       @include box-shadow(inset 0px 5px 10px -5px darken($bg-primary,70%));
   }

   @include desktop {
       display:none;
   }
}

#nav-mobile {
    height: 0;
}

.light-box nav {
    height: 386px;
    left:0;
    top: 50%;
    right:0;
    margin: -193px auto 0 auto;
    position:absolute; 

    @include mini-landscape {
        height:282px;
        margin: -141px auto 0 auto;
    }
} 

.nav-mobile-list {
    display:none;
}

.light-box .nav-mobile-list {
    display:block;
    font-size: 2em;
    line-height:3em;
    text-align: center;

    list-style: none;

    @include mini-landscape {
        font-size: 1.7em;
        line-height:2.5em;
    }

    .nav-mobile-hover {
        display:none;
    }

    .partial-link {
        font-size:2rem;
        overflow:visible;
        position:relative;

        &:hover, &:active, &:focus {
            font-size:0.95em;
            outline:none;

            > .nav-mobile-hover {
                color: $text-secondary;
                display:inline-block;
                font-size:0.85em;
                left: -1.5em;
                line-height:inherit;
                position:absolute;
            }
        }
    }
}

/*DESKTOP HEADER
=======================*/
.header-desktop{ 
   display: none;

   @include desktop {
       display: block;
       float:left;
       font-size:1.6em;
       min-height:$desktop-nav-width + $pawprint-top;
       width:$desktop-nav-width + $pawprint-left;

       @include jumbo {
           min-height: $jumbo-nav-width + $pawprint-top;
           width: $jumbo-nav-width + $pawprint-top;
       }
   }
}

.lg-nav-img {
   margin-top:$pawprint-top;
   margin-left: $pawprint-left;

   @include jumbo {
       width: $jumbo-nav-width;
   }
}

#nav-desktop .header-group {
   color: $text-secondary;
   font-size: 2em;
   line-height: 1.5em;
   position: absolute;
   text-shadow: 0px 4px 4px darken($bg-primary,80%);
   top: 130px;
   left: 80px;

   @include jumbo {
       font-size: 2.7em;
       top:145px;
   }
}

#nav-desktop ul {

   &>li {
       position:absolute;
       z-index:2;
   }

   &>li:first-child {
       top: 45px + $pawprint-top;
       left:220px + $pawprint-left;

       @include jumbo {
           top: 45px + $pawprint-top;
           left:270px + $pawprint-left;
       }
   }

   &>li:nth-child(2) {
       top: 165px + $pawprint-top;
       left:330px + $pawprint-left;

       @include jumbo {
           top: 200px + $pawprint-top;
           left:420px + $pawprint-left;
       }
   }

   &>li:nth-child(3) {
       top: 295px + $pawprint-top;
       left:320px + $pawprint-left;

       @include jumbo {
           top: 360px + $pawprint-top;
           left:400px + $pawprint-left;
       }
   }

   &>li:last-child {
       top: 395px + $pawprint-top;
       left:150px + $pawprint-left;

       @include jumbo {
           top: 490px + $pawprint-top;
           left:185px + $pawprint-left;
       }
   }
}


/*CONTENT PANEL
====================================*/

.content {

    @include desktop {
        margin-left: $desktop-nav-width + $pawprint-left + 10px;
    }

    @include jumbo {
        margin-left: $jumbo-nav-width + $pawprint-left + 10px;
    }
}


/*FOOTER
=========================================*/

.footer {
    background-color: lighten($accent,10%); 
    border-top: 1px solid $border-primary; 
    height:$footer-height;

}

.footer-col {
    float:left;
    min-height:1px;
    padding: 8px 5px 0px 5px;
    width: 33.33%;

    @include tablet {
        padding: 15px 15px 0px 15px;
    }
}

.social-media {
    text-align: center;
    
    li {
        display: inline-block;
        padding: 0 10px;
    }
}

.credit, .quick-contact {
    font-size: 0.75em;
    text-align:center;
}
