@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
@import '_reset';
@import '_vars';
@import '_utils';
@import '_lightbox';
@import '_partialcommon';
@import '_home';
@import '_services';
@import '_contact';
@import '_carousel';
@import '_foster';

//Conventions
//  Grouping
//    Box model
//    Position
//    Typography
//    Other
//  Order
//    Alphabetical

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    @include font-lato-norm;
}

h1, h2 {
    color:$text-primary;
}

h1 {
    font-size:2.5em;
    line-height:1.5em;
    text-align: center;

    @include mini {
        font-size: 2em;
    }

    @include tablet {
        line-height: 2em;
    }

    @include desktop {
        font-size: 3.5em;
    }
}

h2 {
    font-size:3em;
    font-weight:300;
    line-height:1.25em;

    @include mini {
        font-size: 2em;
    }

    @include tablet {
        font-size: 2.3em;
        line-height: 1.75em;
    }

    @include desktop {
        font-size: 3em;
        line-height: 1.75em;
    }
}

h3 {
    margin-top:15px;
    margin-bottom:20px;
    padding-left:5px;
    font-size:1.75em;
    font-weight:300;


    @include mini {
        font-size: 1.5em;
    }

    @include tablet {
        font-size: 1.75em;
    }

    @include desktop {
        font-size: 2em;
    }
}

h4 {
    margin-bottom:10px;
    padding-left: 10px;
    font-size: 1.3em;
    font-weight:300;
}

a {
    text-decoration: none;

    color: inherit;
    cursor:pointer;
}

input, label, textarea, p {
    font-family:'Lato', sans-serif;
    font-size: 1.2em;
    letter-spacing:0.03em;
    line-height:1.5em;
    text-align:justify;

    @include mini {
        font-size:1.1em;
        letter-spacing:0.02em;
    }
}

p {
    margin: 20px 0;
    padding: 0 20px;
}

.site {

   .header-mobile {
       background-color: $bg-primary;
       border-bottom: 1px solid $border-primary;
       position:relative;

       .nav-toggle {
           border: none;
           @include center;
           height: 2.5em;
           margin-top: -1.25em;

           position:absolute;
           left:5px;
           top:50%;

           background-color: $bg-primary;

           &:hover {
               border: 1px solid $border-primary;
               border-radius: 4px;

               @include box-shadow(0px 1px 2px darken($bg-primary,30%));
           }

           &:active, &:focus {
               border: 1px solid $border-primary;
               border-radius: 4px;

               background-color: darken($bg-primary, 10%);
               @include box-shadow(inset 0px 5px 10px -5px darken($bg-primary,50%));
               outline:none;
           }

           @include desktop {
               display:none;
           }
       }

       #nav-mobile {
           height:0
       }

       nav ul {
           padding-bottom:10px;

           font-size:1.2em;
           line-height:1.2em;
           text-align:center;

           list-style:none;

           li {
               display:none;
           }
       }

       @include desktop {
           display:none;
       }
   }

   .header-desktop { 

       display: none;

       @include desktop {

           display: block;
           float:left;
           min-height:$desktop-nav-width + $pawprint-top;
           width:$desktop-nav-width + $pawprint-left;

           @include jumbo {
               min-height: $jumbo-nav-width + $pawprint-top;
               width: $jumbo-nav-width + $pawprint-top;
           }

           font-size:1.6em;

           img {
               margin-left: $pawprint-left;
               margin-top:$pawprint-top;

               @include jumbo {
                   width: $jumbo-nav-width;
               }
           }


           #nav-desktop .header-group {
               position: absolute;
               left: 80px;
               top: 130px;

               font-size: 2em;
               line-height: 1.5em;
               text-shadow: 0px 4px 4px darken($bg-primary,80%);

               color: $text-secondary;

               @include jumbo {
                   top:145px;

                   font-size: 2.7em;
               }

               a:focus, a:hover {
                   color:darken($text-secondary, 30%);
                   text-shadow: 0px 3px 3px darken($bg-primary,90%);
                   outline:none;
               }
           }

           #nav-desktop ul {
               &>li {
                   position:absolute;
                   z-index:2;

                   @include jumbo {
                       font-size:1.3em;
                   }

                   a {
                       text-shadow: 0px 4px 4px darken($bg-primary,80%);

                       color:$text-secondary;

                       .nav-mobile-hover {
                           display: none;
                       }

                       &:focus, &:hover {
                           color:darken($text-secondary,30%);
                           text-shadow: 0px 3px 3px darken($bg-primary,90%);
                           outline:none;
                       }
                   }
               }

               &>li:first-child {
                   left:220px + $pawprint-left;
                   top: 45px + $pawprint-top;

                   @include jumbo {
                       left:270px + $pawprint-left;
                       top: 45px + $pawprint-top;
                   }
               }

               &>li:nth-child(2) {
                   left:330px + $pawprint-left;
                   top: 165px + $pawprint-top;

                   @include jumbo {
                       left:420px + $pawprint-left;
                       top: 200px + $pawprint-top;
                   }
               }

               &>li:nth-child(3) {
                   left:320px + $pawprint-left;
                   top: 295px + $pawprint-top;

                   @include jumbo {
                       left:400px + $pawprint-left;
                       top: 360px + $pawprint-top;
                   }
               }

               &>li:last-child {
                   left:150px + $pawprint-left;
                   top: 395px + $pawprint-top;

                   @include jumbo {
                       left:185px + $pawprint-left;
                       top: 490px + $pawprint-top;
                   }
               }
           }
       }
   }

    .content {

        @include desktop {
            margin-left: $desktop-nav-width + $pawprint-left + 10px;
        }

        @include jumbo {
            margin-left: $jumbo-nav-width + $pawprint-left + 10px;
        }
    }
    
    /*sticky footer*/
    min-height:100%;
    margin-bottom: -1 * $footer-height;

    &::after {
            content:"";
            clear:both;
            display:block;
            height: $footer-height;
    }
    /*end sticky footer*/
}

.footer {
    height:$footer-height;
    border-top: 1px solid $border-primary; 

    background-color: darken($bg-primary, 15%);
    
    .footer-col {
        float:left;
        min-height:1px;
        padding: 8px 5px 0px 5px;
        width: 33.33%;

        @include tablet {
            padding: 15px 15px 0px 15px;
        }
    }

    .social-media {
        
        li {
            display: inline-block;
            padding: 0 10px;
        }
    }

    .credit, .quick-contact {
        font-size: 0.75em;
        text-align:center;
    }
}


