@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* fonts */
/* end fonts */
/*break points*/
/*end break points*/
/*utilities*/
/*For screen-reader support on icon fonts. Mimics alt text.
  Example:
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <span class="sr-only">Twitter</span>
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*end utilities*/
.light-box {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0; }
  .light-box nav {
    height: 386px;
    left: 0;
    top: 50%;
    right: 0;
    margin: -193px auto 0 auto;
    position: absolute; }
    @media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
      .light-box nav {
        height: 282px;
        margin: -141px auto 0 auto; } }
    .light-box nav ul {
      font-size: 2em;
      line-height: 3em;
      text-align: center;
      list-style: none; }
      @media screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
        .light-box nav ul {
          font-size: 1.7em;
          line-height: 2.5em; } }
      .light-box nav ul .nav-mobile-hover {
        display: none; }
      .light-box nav ul a {
        position: relative;
        color: white; }
        .light-box nav ul a:hover, .light-box nav ul a:active, .light-box nav ul a:focus {
          font-size: 0.95em;
          outline: none; }
          .light-box nav ul a:hover > .nav-mobile-hover, .light-box nav ul a:active > .nav-mobile-hover, .light-box nav ul a:focus > .nav-mobile-hover {
            display: inline-block;
            position: absolute;
            left: -1.5em;
            font-size: 0.85em;
            line-height: inherit;
            color: white; }

@-webkit-keyframes fade-0-100 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fade-0-100 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fade-0-100 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-0-100 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-0-100 {
  -webkit-animation: fade-0-100 0.75s;
  -moz-animation: fade-0-100 0.75s;
  -o-animation: fade-0-100 0.75s;
  animation: fade-0-100 0.75s;
  opacity: 1; }

@-webkit-keyframes fade-100-0 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fade-100-0 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fade-100-0 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fade-100-0 {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fade-100-0 {
  -webkit-animation: fade-100-0 0.5s;
  -moz-animation: fade-100-0 0.5s;
  -o-animation: fade-100-0 0.5s;
  animation: fade-100-0 0.5s;
  opacity: 0; }

.inner-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 440px; }
  @media screen and (max-width: 350px) {
    .inner-page {
      width: 320px; } }
  @media screen and (min-width: 1400px) {
    .inner-page {
      width: 550px; } }

section:not(:first-child) {
  margin-top: 40px; }

.sub-header {
  margin: 0;
  padding-bottom: 10px;
  font-style: italic;
  font-weight: 300; }

.inner-page-text {
  margin: 20px 0;
  padding: 0 20px;
  font-size: 1.1em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  text-align: justify; }

.inner-page-list {
  padding-left: 20px;
  font-size: 1.1em;
  line-height: 2em; }
  .inner-page-list li::before {
    content: "\f1b0";
    font-family: FontAwesome;
    padding-right: 10px;
    display: inline;
    font-size: 0.8em; }

.package, .day, .boarding-package, .house-call-rate {
  display: inline-block; }

.package {
  width: 180px; }

.day {
  width: 155px; }

.boarding-package {
  width: 75px; }

.house-call-rate {
  width: 165px; }

.disclaimer {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
  font-style: italic; }

.home-page-header {
  display: none; }
  @media screen and (min-width: 1024px) {
    .home-page-header {
      display: block; } }

.mission {
  margin: 0;
  padding: 0;
  width: 100%;
  font-style: italic;
  font-weight: 300;
  text-align: center; }

.contact-label, .hours {
  display: inline-block; }

.contact-label {
  width: 100px; }

.hours {
  width: 180px; }

form .form-group {
  margin-top: 15px;
  padding-left: 20px;
  vertical-align: top; }
form label {
  display: block;
  width: 100px;
  vertical-align: top; }
  @media screen and (min-width: 600px) {
    form label {
      display: inline-block; } }
form input, form textarea {
  padding-left: 5px;
  border: 1px solid black;
  border-radius: 4px; }
form input:not([type='submit']), form textarea {
  width: 280px; }
form input[type='submit'] {
  width: 140px;
  background-color: #d9d9d9; }
  @media screen and (min-width: 600px) {
    form input[type='submit'] {
      margin-left: 100px; } }

.carousel {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  height: 440px; }
  @media screen and (min-width: 600px) {
    .carousel {
      height: 720px; } }

.carousel-img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 2px solid black;
  cursor: pointer;
  transition: width 1s, height 1s, top 1s, opacity 1s; }

.carousel-prev, .carousel-next, .carousel-off {
  opacity: 0.5;
  width: 100px;
  height: 100px; }
  @media screen and (min-width: 600px) {
    .carousel-prev, .carousel-next, .carousel-off {
      width: 180px;
      height: 180px; } }

.carousel-off-top {
  opacity: 0;
  top: -120px;
  height: 60px;
  width: 60px; }
  @media screen and (min-width: 600px) {
    .carousel-off-top {
      top: -230px;
      height: 140px;
      width: 140px; } }

.carousel-prev {
  top: 0; }

.carousel-current {
  top: 120px;
  width: 140px;
  height: 140px; }
  @media screen and (min-width: 600px) {
    .carousel-current {
      top: 230px;
      width: 200px;
      height: 200px; } }

.carousel-next {
  top: 280px; }
  @media screen and (min-width: 600px) {
    .carousel-next {
      top: 480px; } }

.carousel-off-bottom {
  opacity: 0;
  top: 400px;
  height: 60px;
  width: 60px; }
  @media screen and (min-width: 600px) {
    .carousel-off-bottom {
      top: 710px;
      height: 140px;
      width: 140px; } }

.carousel-off {
  display: none; }

.carousel-nav {
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px; }

.carousel-nav-btn {
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  outline: none;
  background-color: white;
  border-radius: 50%;
  border-style: none; }
  .carousel-nav-btn:first-child {
    margin-right: 15px; }
  .carousel-nav-btn:hover, .carousel-nav-btn:focus {
    border: 1px solid #666666;
    -webkit-box-shadow: 0px 1px 2px #b3b3b3;
    -moz-box-shadow: 0px 1px 2px #b3b3b3;
    box-shadow: 0px 1px 2px #b3b3b3; }
  .carousel-nav-btn:active {
    border: 1px solid #666666;
    background-color: #e6e6e6;
    -webkit-box-shadow: inset 0px 5px 10px -5px gray;
    -moz-box-shadow: inset 0px 5px 10px -5px gray;
    box-shadow: inset 0px 5px 10px -5px gray;
    outline: none; }

.carousel-img-selected {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 300px;
  height: auto; }
  @media screen and (min-width: 600px) {
    .carousel-img-selected {
      width: 400px;
      height: auto; } }
  @media screen and (min-width: 1024px) {
    .carousel-img-selected {
      width: 550px;
      height: auto; } }

.foster-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 400px;
  border: 2px solid black;
  border-radius: 50%; }
  @media screen and (max-width: 350px) {
    .foster-img {
      height: 250px;
      width: 250px; } }

* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif; }

h1, h2 {
  color: black; }

h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  text-align: center; }
  @media screen and (max-width: 350px) {
    h1 {
      font-size: 2em; } }
  @media screen and (min-width: 600px) {
    h1 {
      font-size: 3em;
      line-height: 2em; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 4em; } }

h2 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1.25em; }
  @media screen and (max-width: 350px) {
    h2 {
      font-size: 2em; } }
  @media screen and (min-width: 600px) {
    h2 {
      font-size: 2.5em;
      line-height: 1.75em; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 3em;
      line-height: 1.75em; } }

h3 {
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 5px;
  font-size: 1.75em;
  font-weight: 300; }
  @media screen and (max-width: 350px) {
    h3 {
      font-size: 1.5em; } }
  @media screen and (min-width: 600px) {
    h3 {
      font-size: 1.75em; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 2em; } }

h4 {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 1.3em;
  font-weight: 300; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

input, label, textarea, p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  text-align: justify; }
  @media screen and (max-width: 350px) {
    input, label, textarea, p {
      font-size: 1.1em;
      letter-spacing: 0.02em; } }

p {
  margin: 20px 0;
  padding: 0 20px; }

.page {
  /*sticky footer*/
  min-height: 100%;
  margin-bottom: -50px;
  /*end sticky footer*/ }
  .page .header-mobile {
    background-color: white;
    border-bottom: 1px solid #666666;
    position: relative; }
    .page .header-mobile .nav-toggle {
      border: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 2.5em;
      margin-top: -1.25em;
      position: absolute;
      left: 5px;
      top: 50%;
      background-color: white; }
      .page .header-mobile .nav-toggle:hover {
        border: 1px solid #666666;
        border-radius: 4px;
        -webkit-box-shadow: 0px 1px 2px #b3b3b3;
        -moz-box-shadow: 0px 1px 2px #b3b3b3;
        box-shadow: 0px 1px 2px #b3b3b3; }
      .page .header-mobile .nav-toggle:active, .page .header-mobile .nav-toggle:focus {
        border: 1px solid #666666;
        border-radius: 4px;
        background-color: #e6e6e6;
        -webkit-box-shadow: inset 0px 5px 10px -5px gray;
        -moz-box-shadow: inset 0px 5px 10px -5px gray;
        box-shadow: inset 0px 5px 10px -5px gray;
        outline: none; }
      @media screen and (min-width: 1024px) {
        .page .header-mobile .nav-toggle {
          display: none; } }
    .page .header-mobile #nav-mobile {
      height: 0; }
    .page .header-mobile nav ul {
      padding-bottom: 10px;
      font-size: 1.2em;
      line-height: 1.2em;
      text-align: center;
      list-style: none; }
      .page .header-mobile nav ul li {
        display: none; }
    @media screen and (min-width: 1024px) {
      .page .header-mobile {
        display: none; } }
  .page .header-desktop {
    display: none; }
    @media screen and (min-width: 1024px) {
      .page .header-desktop {
        display: block;
        float: left;
        min-height: 530px;
        width: 530px;
        font-size: 1.6em; } }
  @media screen and (min-width: 1024px) and (min-width: 1400px) {
    .page .header-desktop {
      min-height: 630px;
      width: 630px; } }
    @media screen and (min-width: 1024px) {
        .page .header-desktop img {
          margin-left: 30px;
          margin-top: 30px; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop img {
        width: 600px; } }
    @media screen and (min-width: 1024px) {
        .page .header-desktop #nav-desktop .header-group {
          position: absolute;
          left: 80px;
          top: 130px;
          font-size: 2em;
          line-height: 1.5em;
          text-shadow: 0px 4px 4px #333333;
          color: white; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop #nav-desktop .header-group {
        top: 145px;
        font-size: 2.7em; } }
    @media screen and (min-width: 1024px) {
          .page .header-desktop #nav-desktop .header-group a:focus, .page .header-desktop #nav-desktop .header-group a:hover {
            color: #b3b3b3;
            text-shadow: 0px 3px 3px #1a1a1a;
            outline: none; }
        .page .header-desktop #nav-desktop ul > li {
          position: absolute;
          z-index: 2; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop #nav-desktop ul > li {
        font-size: 1.3em; } }
    @media screen and (min-width: 1024px) {
          .page .header-desktop #nav-desktop ul > li a {
            text-shadow: 0px 4px 4px #333333;
            color: white; }
            .page .header-desktop #nav-desktop ul > li a .nav-mobile-hover {
              display: none; }
            .page .header-desktop #nav-desktop ul > li a:focus, .page .header-desktop #nav-desktop ul > li a:hover {
              color: #b3b3b3;
              text-shadow: 0px 3px 3px #1a1a1a;
              outline: none; }
        .page .header-desktop #nav-desktop ul > li:first-child {
          left: 250px;
          top: 75px; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop #nav-desktop ul > li:first-child {
        left: 300px;
        top: 75px; } }
    @media screen and (min-width: 1024px) {
        .page .header-desktop #nav-desktop ul > li:nth-child(2) {
          left: 360px;
          top: 195px; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop #nav-desktop ul > li:nth-child(2) {
        left: 450px;
        top: 230px; } }
    @media screen and (min-width: 1024px) {
        .page .header-desktop #nav-desktop ul > li:nth-child(3) {
          left: 350px;
          top: 325px; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop #nav-desktop ul > li:nth-child(3) {
        left: 430px;
        top: 390px; } }
    @media screen and (min-width: 1024px) {
        .page .header-desktop #nav-desktop ul > li:last-child {
          left: 180px;
          top: 425px; } }
    @media screen and (min-width: 1024px) and (min-width: 1400px) {
      .page .header-desktop #nav-desktop ul > li:last-child {
        left: 215px;
        top: 520px; } }

  @media screen and (min-width: 1024px) {
    .page .content {
      margin-left: 540px; } }
  @media screen and (min-width: 1400px) {
    .page .content {
      margin-left: 640px; } }
  .page::after {
    content: "";
    clear: both;
    display: block;
    height: 50px; }

.footer {
  height: 50px;
  border-top: 1px solid #666666;
  background-color: #d9d9d9; }
  .footer .footer-col {
    float: left;
    min-height: 1px;
    padding: 8px 5px 0px 5px;
    width: 33.33%; }
    @media screen and (min-width: 600px) {
      .footer .footer-col {
        padding: 15px 15px 0px 15px; } }
  .footer .social-media li {
    display: inline-block;
    padding: 0 10px; }
  .footer .credit, .footer .quick-contact {
    font-size: 0.75em;
    text-align: center; }

/*# sourceMappingURL=app.css.map */
