<div class="page page-contact">
    <h1>Contact Us</h1>

    <div class="inner-page">
        <address>
            <h3>Sit, Stay & Play</h3>

            <p>1201 Goss Avenue</p>

            <p>Louisville, Ky 40217</p>
        </address>

        <div class="phone">
            <div>Phone: <a href="tel:14024141738">(502) 414-1738</a></div>

            <div>Toll-Free: <a href="tel:18554141738">(855) 414-1738</a></div>

            <div>Fax: <a href="fax:+18554141738">(855) 414-1738</a></div>

            <div>Email: 
                <a href="mailto:enrollment@louisvilledogcare.com">
                    enrollment@louisvilledogcare.com
                </a>
            </div>
        </div>

        <h3>Hours</h3>

        <ul class="inner-page-list">
            <li><span class="day">Monday - Tuesday:</span> 7AM - 7PM</li>
            <li><span class="day">Wednesday:</span> 7AM - 8PM</li>
            <li><span class="day">Thursday - Friday:</span> 7AM - 7PM</li>
        </ul>

        <h3>Your Feedback</h3>

        <form>
            <div class="form-group">
                <label for="feedback-name">Name</label>
                <input id="feedback-name" type="text">
            </div>

            <div class="form-group">
                <label for="feedback-email">Email</label>
                <input id="feedback-email" type="text">
            </div>

            <div class="form-group">
                <label for="feedback-comments">Comments</label>
                <textarea id="feedback-comments" rows="5" cols="40"></textarea>
            </div>

            <div class="form-group">
                <input id="feedback-submit" type="submit" value="Submit">
            </div>
        </form>

    </div>
</div>

