<div class="page page-contact">
    <h1>Contact Us</h1>

    <div class="inner-page">
        <section>
            <address>
                <h3>Sit, Stay & Play!</h3>

                <p>
                    1201 Goss Avenue
                    <br>
                    Louisville, KY 40217
                </p>
            </address>

            <p>
                <span class="contact-label">Phone:</span> 
                <a href="tel:14024141738">(502) 414-1738</a>
                <br>

                <span class="contact-label">Toll-Free:</span> 
                <a href="tel:18554141738">(855) 414-1738</a>
                <br>

                <span class="contact-label">Fax:</span> 
                <a href="fax:+18554141738">(855) 414-1738</a>
                <br>

                <span class="contact-label">Email:</span> 
                <a href="mailto:enrollment@louisvilledogcare.com">
                    enrollment@louisvilledogcare.com
                </a>
            </p>
        </section>

        <section>
            <h3>Hours</h3>

            <p>
                <span class="hours">Monday - Tuesday:</span> 7AM - 7PM
                <br>

                <span class="hours">Wednesday:</span> 7AM - 8PM
                <br>

                <span class="hours">Thursday - Friday:</span> 7AM - 7PM
            </p>
        </section>

        <section>
            <h3>Your Feedback</h3>

            <form>
                <div class="form-group">
                    <label for="feedback-name">Name</label>

                    <input id="feedback-name" type="text">
                </div>

                <div class="form-group">
                    <label for="feedback-email">Email</label>

                    <input id="feedback-email" type="text">
                </div>

                <div class="form-group">
                    <label for="feedback-comments">Comments</label>

                    <textarea id="feedback-comments" rows="5" cols="40">
                    </textarea>
                </div>

                <div class="form-group">
                    <input id="feedback-submit" type="submit" value="Submit">
                </div>
            </form>
        </section>

    </div>
</div>

