<div class="page page-foster">
    <h1>Foster Program</h1>

    <div class="inner-page">
        <p class="inner-page-text">
            We believe all pets deserve a home. That's why, in addition to
        caring for our customer's animals, we also routinely provide foster care
        for a dog until it can find a loving family. 
        </p>

        <p class="inner-page-text">
            Our current foster dog is Rory, a three year old black lab. Please
            contact us if you are interested in providing a home for Rory.
        </p>

        <img class="foster-img" 
            src="../components/img/fosterdog.jpg" 
            alt="Rory, our foster dog"/>
    </div>
</div>

