<div class="page page-home">
    <h1 class="home-page-header">Sit, Stay & Play!</h1>
    <p class="mission">
        Keeping you and your dog happy and healthy
    </p>
    <div class="inner-page">
        <p class= "inner-page-text">
            We offer dog daycare, private pet sitting and grooming services. Our 
            free-range daycare hosts a low number of dogs, so you can feel
            confident your pet is in a safer environment and not kenneled all
            day.
        </p>
        <p class= "inner-page-text">
            We also offer private pet sitting. This service is
            flexible: we play "dog nanny", offer taxi services, provide walks, 
            and even stay overnight. Although most of our services are tailored 
            for dogs, we also help with cats, rabbits and horses. We are happy 
            to help with your exotic pet when you need a professional!
        </p>
        <p class="inner-page-text">
            <b>Disclaimer: This is an academic project. I have no
                professional relationship with Sit, Stay & Play. Information
            contained here is not guaranteed to be correct.</b>
        </p>
    </div>
</div>
