<div class="page page-services">
    <h1 class="page-header">Our Services</h1>

    <div class="inner-page">
        <section>
        <h2>Daycare</h2>

        <p class="sub-header">
            Socialization and exercise for your dog in a supervised, home-like
            setting.
        </p>

        <h3>Daycare Rate</h3>

        <p class="inner-page-text">$2.50/hour</p>

        <h3>Packages</h3>

        <h4>One Dog</h4>

        <ul class="inner-page-list">
            <li><span class="package">One month unlimited:</span> $525</li>
            <li><span class="package">One month half days*:</span> $265</li>
        </ul>

        <h4>Two Dogs</h4>

        <ul class="inner-page-list">
            <li><span class="package">One month unlimited:</span> $899</li>
            <li><span class="package">One month half days*:</span> $525</li>
        </ul>

        <p class="disclaimer">*Must specify a.m. or p.m. drop-off</p>

        <h3>Daycare Hours</h3>

        <ul class="inner-page-list">
            <li><span class="day">Monday - Tuesday:</span> 7AM - 7PM</li>
            <li><span class="day">Wednesday:</span> 7AM - 8PM</li>
            <li><span class="day">Thursday - Friday:</span> 7AM - 7PM</li>
        </ul>

        <h3>Eligibility</h3>

        <ul class="inner-page-list">
            <li>Must pass behavioral evaluation & be house trained.</li>
            <li>Must have had a training class within past year or be enrolled
            in one with proof of graduation after.</li>
            <li>Must have a gentle leader or pronged collar.</li>
            <li>Must be current on rabies, DPP & 6 month bordetella (bordetella
            vaccines available for $12)</li>
            <li>Must present photo ID & keep valid credit card on file for
            enrollment.</li>
            <li>Reservations required.</li>
        </ul>

        <h3>Other Information</h3>

        <p class="inner-page-text">
Our four room, 1600 sq.ft. facility gives your dog room to play in a supervised,
home-like setting. We keep the dogs in small groups of similar energy levels,
but try to let them choose their own group from day to day. In addition to
plenty of indoor playtime, we provide outdoor walks. 
        </p>
        </section>

        <section>
        <h2>Boarding</h2>

        <p class="sub-header">
            24 hour care when you can't be home
        </p>

        <h3>Boarding Rate</h3>

        <p class="inner-page-text">$2.50/hour</p>

        <h3>Extended Stay Packages</h3>

        <ul class="inner-page-list">
            <li><span class="boarding-package">5 days: </span>$240</li>
            <li><span class="boarding-package">7 days: </span>$350</li>
            <li><span class="boarding-package">10 days: </span>$480</li>
            <li><span class="boarding-package">14 days: </span>$650</li>
        </ul>
        
        <h3>Eligibility</h3>

        <ul class="inner-page-list">
            <li>Must meet all requirements for daycare enrollment</li>
            <li>Service is limited to single-dog clients.</li>
        </ul>

        <h3>Other Information</h1>

        <p class="inner-page-text">
        Boarded pets participate in daycare during the day, and stay with a 
        member of our staff overnight in their home. All our staff members live 
        in dog and cat friendly households, and are insured, bonded, and 
        educated in pet care. We make a special effort to give boarded dogs as 
        much time out of crate as possible.
        </p>
        </section>

        <section>
        <h2>Private Sitting</h2>

        <p class="sub-header">
            High quality care delivered right to your doorstep
        </p>

        <h3>Rates</h3>

        <ul class="inner-page-list">
            <li>
                <span class="house-call-rate">30 minutes*:</span>
                $17.50
            </li>
            <li>
                <span class="house-call-rate">60 minutes:</span>
                $25.00
            </li>
            <li>
                <span class="house-call-rate">3 weekly dog walks:</span>
                $50.00/week
            </li>
            <li>
                <span class="house-call-rate">Daily dog walks:</span>
                $75.00/week
            </li>
            <li>
                Additional charges may apply for over two dogs. Free consultation 
                available for multiple dogs and longer/overnight house calls.
            </li>
        </ul>

        <p class="disclaimer">* Available to 40217/40204 zip codes</p>
        </section>
    </div>
</div>
